<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Web AI</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
	<link rel="stylesheet" href="/static/css/style.css">


</head>

<body>
	<!-- partial:index.partial.html -->
	<div class="app">
		<div class="landing-page-logo">
			<img src="/static/images/web_ai_logo.png" alt="">
		</div>

		<div class="site-info">
			<p class="site-desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt eos architecto quasi
				fuga saepe ab quo
				repellendus, aut accusamus rem velit labore officiis recusandae doloribus aliquam, cupiditate illum?
				Suscipit, exercitationem.</p>

			<a href="/login" class="btn">Sign-Up</a>
			<a href='/login' class="btn">Sign-In</a>
		</div>

		<div class='login-btn'>


		</div>




		<footer class="footer">
			<div>
				Web AI ©<br />
				All Rights Reserved 2021
			</div>
		</footer>
	</div>
	</div>
	<!-- partial -->
	<script src='https://unpkg.com/phosphor-icons'></script>
	<script src="/static/js/script.js"></script>

</body>

</html>