<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Web AI</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
	<link rel="stylesheet" href="/static/css/style.css">


</head>

<body>
	<!-- partial:index.partial.html -->
	<div class="app">
		<div class="landing-page-logo">
			<img src="/static/images/web_ai_logo.png" alt="">
		</div>

		<div class="site-info">
			<p class="site-desc">Build your dream website in minutes! It's fast, affordable, and convenient for anyone looking to establish digital presence without any technical experience. Focus on your business while our AI takes care of the rest. </p>

			<a href="/signup" class="btn">Sign-Up</a>
			<a href='/login' class="btn">Sign-In</a>
		</div>

		<div class='login-btn'>


		</div>




		<footer class="footer">
			<div>
				Web AI ©<br />
				All Rights Reserved 2021
			</div>
		</footer>
	</div>
	</div>
	<!-- partial -->
	<script src='https://unpkg.com/phosphor-icons'></script>
	<script src="/static/js/script.js"></script>

</body>

</html>