<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Web AI</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
	<link rel="stylesheet" href="style.css">


</head>

<body>
	<!-- partial:index.partial.html -->
	<div class="app">
		<header class="app-header">
			<div class="app-header-logo">
				<div class="logo">
					<span class="logo-icon">
						<img src="/images/web_ai_logo.png" />
					</span>
					<!-- <h1 class="logo-title">
						<span>Almeria</span>
						<span>NeoBank</span>
					</h1> -->
				</div>
			</div>
			<div class="app-header-navigation">
				<div class="tabs">
					<a href="#" class="ai-builder active">
						New Website
						<i class="fa-regular fa-wand-magic-sparkles"></i>
					</a>
					<a href="#">
						Dashboard
					</a>
					<a href="#">
						My Projects
					</a>
					<a href="#">
						Plans
					</a>
					<a href="#">
						FAQs
					</a>
				</div>
			</div>
			<div class="app-header-actions">
				<button class="user-profile">
					<span>Arpan Parekh</span>
					<span>
						<img src="/images/profile_icon.jpg" />
					</span>
				</button>
				<div class="app-header-actions-buttons">
					<!-- <button class="icon-button large">
						<i class="ph-magnifying-glass"></i>
					</button> -->
					<button class="icon-button large">
						<i class="ph-bell"></i>
					</button>
				</div>
			</div>
			<div class="app-header-mobile">
				<button class="icon-button large">
					<i class="ph-list"></i>
				</button>
			</div>

		</header>

		<main class="app-main">
			<div class="prompt-box">
				<!-- From Uiverse.io by vinodjangid07 -->
				<div class="messageBox">
					<div class="fileUploadWrapper">
						<label for="file">
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 337 337">
								<circle stroke-width="20" stroke="#6c6c6c" fill="none" r="158.5" cy="168.5" cx="168.5">
								</circle>
								<path stroke-linecap="round" stroke-width="25" stroke="#6c6c6c" d="M167.759 79V259">
								</path>
								<path stroke-linecap="round" stroke-width="25" stroke="#6c6c6c" d="M79 167.138H259">
								</path>
							</svg>
							<span class="tooltip">Add an image</span>
						</label>
						<input type="file" id="file" name="file" />
					</div>
					<textarea required="" placeholder="Message..." id="messageInput"></textarea>
					<!-- <input required="" placeholder="Message..." type="text" id="messageInput" /> -->
					<button id="sendButton">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 664 663">
							<path fill="none"
								d="M646.293 331.888L17.7538 17.6187L155.245 331.888M646.293 331.888L17.753 646.157L155.245 331.888M646.293 331.888L318.735 330.228L155.245 331.888">
							</path>
							<path stroke-linejoin="round" stroke-linecap="round" stroke-width="33.67" stroke="#6c6c6c"
								d="M646.293 331.888L17.7538 17.6187L155.245 331.888M646.293 331.888L17.753 646.157L155.245 331.888M646.293 331.888L318.735 330.228L155.245 331.888">
							</path>
						</svg>
					</button>
				</div>

			</div>
		</main>

		<footer class="footer">
			<div>
				Web AI ©<br />
				All Rights Reserved 2021
			</div>
		</footer>
	</div>

	</div>
	<!-- partial -->
	<script src='https://unpkg.com/phosphor-icons'></script>
	<script src="script.js"></script>

</body>

</html>