<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Web AI</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
	<link rel="stylesheet" href="/static/css/style.css">


</head>s

<body>
	<!-- partial:index.partial.html -->
	<div class="app">
		<header class="app-header">
			<div class="app-header-logo">
				<div class="logo">
					<span class="logo-icon">
						<img src="/static/images/web_ai_logo.png" />
					</span>
					<!-- <h1 class="logo-title">
						<span>Almeria</span>
						<span>NeoBank</span>
					</h1> -->
				</div>
			</div>
			<div class="app-header-navigation">
				<div class="tabs">
					<a href="/new-website.html" class="ai-builder">
						New Website
						<i class="fa-regular fa-wand-magic-sparkles"></i>
					</a>
					<a href="#">
						Dashboard
					</a>
					<a href="/myproject.html">
						My Projects
					</a>
					<a href="/plan.html" class="active">
						Plans
					</a>
					<a href="/FAQs.html">
						FAQs
					</a>
				</div>
			</div>
			<div class="app-header-actions">
				<button class="user-profile">
					<span>Arpan Parekh</span>
					<span>
						<img src="/static/images/profile_icon.jpg" />
					</span>
				</button>
				<div class="app-header-actions-buttons">
					<!-- <button class="icon-button large">
						<i class="ph-magnifying-glass"></i>
					</button> -->
					<button class="icon-button large">
						<i class="ph-bell"></i>
					</button>
				</div>
			</div>
			<div class="app-header-mobile">
				<button class="icon-button large">
					<i class="ph-list"></i>
				</button>
			</div>

		</header>

		<div id="mainCoantiner">
			<!--dust particel-->
			<div class="margin-body">

				<div>
					<div class="starsec"></div>
					<div class="starthird"></div>
					<div class="starfourth"></div>
					<div class="starfifth"></div>
				</div>
				<!--Dust particle end -->

				<div class="row">
					<div class="col-sm-12 col-md-12">
						<div class="wpb_text_column wpb_content_element ">
							<div class="wpb_wrapper">
								<div class="title-h1 text-center"><span><span class="light">pricing </span> table</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="price-container">
					<div class="row">
						<div class="col-sm-3 col-md-3 pricing-column-wrapper">
							<div class="pricing-column">
								<div class="pricing-price-row">
									<div class="pricing-price-wrapper">
										<div class="pricing-price">
											<div class="pricing-cost">₹0</div>
											<div class="time">Per Month</div>
										</div>
									</div>
								</div>
								<div class="pricing-row-title">
									<div class="pricing_row_title">Basic</div>
								</div>
								<figure class="pricing-row">5 AI Prompt/Month</figure>
								<figure class="pricing-row"><span>25 Customizations</span></figure>
								<figure class="pricing-row strike">Adds Free</figure>
								<figure class="pricing-row strike">Backend Code</figure>
								<div class="pricing-footer">
									<div class="gem-button-container gem-button-position-center"><a href="#"
											class="gem-button gem-green">order now</a></div>
								</div>
							</div>
						</div>
						<div class="col-sm-3 col-md-3 pricing-column-wrapper">
							<div class="pricing-column">
								<div class="pricing-price-row">
									<div class="pricing-price-wrapper">
										<div class="pricing-price">
											<div class="pricing-cost">₹45</div>
											<div class="time">Per Month</div>
										</div>
									</div>
								</div>
								<div class="pricing-row-title">
									<div class="pricing_row_title">Premium</div>
								</div>
								<figure class="pricing-row">10 AI Prompts/Month</figure>
								<figure class="pricing-row"><span style="color: #5f727f;">50 Customizations</span>
								</figure>
								<figure class="pricing-row"><span style="color: #5f727f;">Adds Free</span>
								</figure>
								<figure class="pricing-row strike">Backend Code</figure>
								<div class="pricing-footer">
									<div class="gem-button-container gem-button-position-center"><a
											class="gem-button gem-purpel">order now</a></div>
								</div>
							</div>
						</div>
						<div class="col-sm-3 col-md-3 pricing-column-wrapper">
							<div class="pricing-column">
								<div class="pricing-price-row">
									<div class="pricing-price-wrapper">
										<div class="pricing-price">
											<div class="pricing-cost">₹99</div>
											<div class="time">Per Month</div>
										</div>
									</div>
								</div>
								<div class="pricing-row-title">
									<div class="pricing_row_title">Pro</div>
								</div>
								<figure class="pricing-row">30 AI Prompts</figure>
								<figure class="pricing-row"><span>Unlimited Customizations</span></figure>
								<figure class="pricing-row"><span style="color: #5f727f;">Adds Free</span>
								</figure>
								<figure class="pricing-row">Backend Code</figure>
								<div class="pricing-footer">
									<div class="gem-button-container gem-button-position-center">
										<a class="gem-button gem-orange">order now</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer class="footer">
			<div>
				Web AI ©<br />
				All Rights Reserved 2021
			</div>
		</footer>
	</div>
	</div>
	<!-- partial -->
	<script src='https://unpkg.com/phosphor-icons'></script>
	<script src="/static/js/script.js"></script>

</body>

</html>